@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-size: 1rem;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Kirby {
  display: flex;
  justify-content: center;  /* 水平居中 */
  align-items: center;      /* 垂直居中 */
  height: 100vh;            /* 让父级容器铺满整个视口高度 */
  flex-direction: column;
}
.Kirby-body
{
  fill:#ffb6c1;
}
/* 让 Kirby SVG 图标保持适当大小 */
.Kirby svg {
  height: 20%;
  width: auto;

}
.Kirby:hover {
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}
.Kirby-text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 12px rgba(255, 105, 180, 1);
}